modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Development"

[[workflows.workflow]]
name = "Development"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 33815
externalPort = 4200

[[ports]]
localPort = 38629
externalPort = 3002

[[ports]]
localPort = 41833

[[ports]]
localPort = 45193
externalPort = 3000

[[ports]]
localPort = 46149

[deployment]
deploymentTarget = "vm"
run = ["sh", "-c", "npm run prod"]

[objectStorage]
defaultBucketID = "replit-objstore-05a22b8d-73fe-4320-b898-cc7ae7ea7de5"
